iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.portfolio {
	margin-right: 100px;
	margin-left: 100px;
}

h1 {
	text-align: center;
}

.shape {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px auto 20px auto;
  border: 6px solid #575757;
  background-image: url(1.gif);
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}

.img-circle {
  width: 200px;
  height: 200px;
}